<div class="user-section">
    <div class="user-card">
      <img src="../../assets/administrator.png" alt="Admin Account">
      <h2>Admin</h2>
      <p>An Admin Account has privilege to manage services for all other people in the App </p>
      <button >Show All</button>

    </div>
  
    <div class="user-card">
      <img src="../../assets/admin.png" alt="Customer Account">
      <h2>Customer </h2>
      <p>A customer Account is a centralized place to manage all billing informations about customers</p>
      <button >Show All</button>

    </div>
  
    <div class="user-card">
      <img src="../../assets/personal-security.png" alt="Golden Account">
      <h2>Golden</h2>
      <p>All Golden members benefit from the features inclided with the Calbrian Golden Account</p>
      <button >Show All</button>

    </div>
  
    <div class="user-card">
      <img src="../../assets/unauthorized-person.png" alt="Blocked Accounts">
      <h2>Blocked</h2>
      <p>an Account that does not allow for unlimited but instead has certain restrictions.</p>
      <button >Show All</button>

    </div>
    <div class="user-list">
        <!-- User list content goes here -->
      </div>
  </div>
  